---
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Maxi García">
  <div class="grid place-content-center h-full pt-6">
    <h1 class="text-xl font-bold">Thank you!</h1>
    <p class="pt-2">
      I have received your message. Shortly I will be in touch with you.
      <br />
      Have a nice day!
      <br />
      Maxi
      <br />
      <br />
      <a href="/" class="underline">Go to Main page</a>
      <a href="/maxi-garcia_cv.pdf" target="_blank" class="underline ml-4">Download my CV</a>
    </p>
  </div>
</Layout>
