---
import { Icon } from 'astro-icon/components'
---

<div class="mt-64 flex justify-center w-full gap-8 pb-2">
  <a
    href="http://github.com/onmax"
    class="underline flex gap-2 opacity-50 saturate-0 transition-all hover:!saturate-100 hover:!opacity-100 focus-visible:!saturate-100 focus-visible:!opacity-100"
    target="_blank"
  >
    <Icon class="w-4" name="carbon:logo-github" />
    <span>onmax</span>
  </a>
  <a
    href="/maxi-garcia_cv.pdf"
    class="underline flex gap-2 opacity-50 saturate-0 transition-all hover:!saturate-100 hover:!opacity-100 focus-visible:!saturate-100 focus-visible:!opacity-100"
    target="_blank">CV</a
  >
</div>
