<div>
  <div class="mr-4 whitespace-nowrap py-4">
    <h2 class="sticky top-[calc(50%-12px)] text-lg font-bold w-32 text-right">Contact me</h2>
  </div>

  <form action="https://formsubmit.co/maximogarciamtnez@gmail.com" method="POST" class="ml-44 mt-3 flex flex-col max-w-4xl gap-y-2">
    <input type="hidden" name="_subject" value="New portfolio submission!" />
    <input type="text" name="_honey" style="display:none" />
    <input type="hidden" name="_next" value="https://github.com/onmax/thanks.html" />

    <label class="font-bold" for="email">Your email</label>
    <input
      name="email"
      type="email"
      class="bg-[#eaeaea] py-3 px-4 rounded-md ring-1 ring-[#eaeaea] outline-none hover:ring-[#ccc] transition-colors focus-visible:ring-[#bbb]"
      placeholder="joe@doe.com"
    />
    <label class="font-bold col-span-2 mt-4" for="message">Your message</label>
    <textarea
      name="message"
      class="col-span-2 bg-[#eaeaea] resize-none min-h-[24px] py-3 px-4 rounded-md ring-1 ring-[#eaeaea] outline-none hover:ring-[#ccc] transition-colors focus-visible:ring-[#bbb]"
      id="message"
      cols="30"
      placeholder="Hi, I would like to talk about..."
      rows="10"></textarea>

    <button class="bg-black text-white rounded-md px-28 py-2 mt-3 hover:bg-[#333] focus-visible:bg-[#333] transition-colors max-w-xs self-end" type="submit">Send</button>
  </form>
</div>
