@import url(../../node_modules/tailwindcss/src/css/preflight.css) layer(preflight);
@layer preflight, tw, typography;

@layer tw {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

:root {
  --color-gray-100: 26deg 40% 97%;
  /* --color-gray-200: 60deg 8% 97%; */
  --color-gray-200: 20deg 32% 94%;
  --color-gray-300: 30deg 7% 94%;
  /* --color-gray-400: 60deg 4% 91%; */
  --color-gray-400: 55deg 8% 75%;
  --color-gray-500: 45deg 6% 88%;
  /* --color-gray-600: 45deg 5% 85%; */
  --color-gray-600: 40deg 8% 84%;
  --color-gray-700: 48deg 5% 80%;
  --color-gray-800: 51deg 5% 72%;
  --color-gray-900: 60deg 3% 54%;
  --color-gray-1000: 60deg 2% 50%;
  /* --color-gray-1100: 60deg 3% 38%; */
  --color-gray-1100: 60deg 5% 38%;
  /* --color-gray-1200: 48deg 8% 12%; */
  --color-gray-1200: 48deg 22% 11%;
  --color-gray-alpha-100: #00000003;
  --color-gray-alpha-200: #00000006;
  --color-gray-alpha-300: #0000000f;
  --color-gray-alpha-400: #00000017;
  --color-gray-alpha-500: #0000001f;
  --color-gray-alpha-600: #00000026;
  --color-gray-alpha-700: #00000031;
  --color-gray-alpha-800: #00000044;
  --color-gray-alpha-900: #00000072;
  --color-gray-alpha-1000: #0000007c;
  --color-gray-alpha-1100: #0000009b;
  --color-gray-alpha-1200: #000000df;

  --ds-inset-border: inset 0 0 0 1px rgba(0, 0, 0, .08);
  --ds-inset-border-light: inset 0 0 0 1px rgba(0, 0, 0, .08);

  --ds-shadow-border: 0 0 0 1px hsla(48, 7%, 14%, 0.08);
  --ds-shadow-small: 0px 2px 2px hsla(48, 7%, 14%, 0.04);
  --ds-shadow-border-small: var(--ds-shadow-border), var(--ds-shadow-small);

  --container-px: 1.5rem;
  --container-max-width: 644px;
  --container-min-width: calc(100vw - 2 * var(--container-px));
  --container-width: min(var(--container-max-width), var(--container-min-width));
  --scrollbar-width: calc(100vw - 100%);
  --container-mx: calc((100vw - var(--scrollbar-width) - var(--container-width)) / 2);

  &.dark {
    --color-gray-100: 60deg 3% 6%;
    --color-gray-200: 60deg 2% 10%;
    --color-gray-300: 60deg 1% 13%;
    --color-gray-400: 60deg 2% 16%;
    --color-gray-500: 60deg 3% 19%;
    --color-gray-600: 45deg 4% 22%;
    --color-gray-700: 48deg 4% 28%;
    --color-gray-800: 43deg 4% 37%;
    --color-gray-900: 47deg 4% 42%;
    --color-gray-1000: 53deg 3% 47%;
    --color-gray-1100: 45deg 5% 69%;
    --color-gray-1200: 60deg 6% 93%;
    --color-gray-alpha-100: #00000000;
    --color-gray-alpha-200: #ffffff09;
    --color-gray-alpha-300: #ffffff12;
    --color-gray-alpha-400: #ffffff1b;
    --color-gray-alpha-500: #ffffff22;
    --color-gray-alpha-600: #ffffff2c;
    --color-gray-alpha-700: #ffffff3b;
    --color-gray-alpha-800: #ffffff55;
    --color-gray-alpha-900: #ffffff64;
    --color-gray-alpha-1000: #ffffff72;
    --color-gray-alpha-1100: #ffffffaf;
    --color-gray-alpha-1200: #ffffffed;
  }
}

body {
  background: hsl(var(--color-gray-100));
  color: hsl(var(--color-gray-1200) / 0.83);
}

.main-contanier {
  width: var(--container-width);
}

.btn {
  @apply flex w-fit items-center rounded-full px-1.5 text-sm font-medium shadow-sm hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none transition-opacity select-none;
}
